.landing {
    position: relative;
    padding-bottom: 98px;
    overflow: hidden;
  }
  .landing::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(212, 187, 240);
    z-index: -1;
    clip-path: circle(31.5% at 87% 75%);
  }
  .landing::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(212, 187, 240);
    z-index: -1;
    clip-path: circle(34.3% at 0 1%);
  }
  .container {
    width: 100%;
    margin-top: 90px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .container::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(227, 205, 252);
  
    clip-path: circle(34.5% at 87% 75%);
  }
  .image {
    position: relative;
    z-index: 1;
  }
  .color {
    color: rgb(76, 42, 114);
  }
  .button_color {
    background-color: rgb(76, 42, 114);
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 40px;
    color: #fff;
    border: 1px solid transparent;
  }
  .button_color:hover {
    background-color: #fff;
    border-color: rgb(76, 42, 114);
    color: rgb(76, 42, 114);
    box-shadow: rgb(76, 42, 114) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      margin-top: 50px;
      
    }.landing{
      padding-bottom: 0px;
    }
  }
  