.test {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .logo {
    color: rgb(76, 42, 114) !important;
    font-weight: bolder;
    cursor: pointer;
  }
  .logo:hover {
    border-radius: 40px;
    padding: 5px 5px;
    background-color: #fff;
    border-color: rgb(76, 42, 114);
    color: rgb(76, 42, 114);
    box-shadow: rgb(76, 42, 114) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .logout a {
    color: rgb(76, 42, 114) !important;
    font-weight: bolder;
    cursor: pointer;
  }
  .logout:hover {
    border-radius: 40px;
    padding: 0px 5px;
    background-color: #fff;
    border-color: rgb(76, 42, 114);
    color: rgb(76, 42, 114);
    box-shadow: rgb(76, 42, 114) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  